@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@400;500;600&family=Ubuntu:wght@500&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  margin: 0;padding: 0;
  color:var(--text-color);}

:root{
  --theme-color:rgb(129 192 10);
  --primary-color:black;
  --background-color:#fff;
  --text-color:lightgray;
  --font-medium:1.5rem;
  --font-bigger:2rem;
  --font-small:.86rem;
  --font-sm:1.2rem;
  --fw-regular:400;
  --fw-medium:500;
  --fw-bold:600;


}
